#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.content {
  padding: 10px;
}

::selection{
  background-color: #8b8b8b;
  color: black;
}